body {
    background-color: #FFE6FF;
    font-family: Verdana, sans-serif;
}

.sreloj {
    display: flex;
}

#divdetodo {
    flex: 1;
    width: 50vw;
    height: 50vh;
    text-align: center;
    margin: 3rem;
    padding: 1.8rem;
    background-color: #4B285C;
    border-radius: 15%;
    box-shadow: 0 0 40px gray;
}

#boton {
    color: #4B285C;
    font-weight: bold;
    margin-top: 3rem;
    background-color: #C8A2DB;
    flex: 1;
    height: 3.1rem;
    font-size: 0.9rem;
    border-radius: 10%;
}

#divhora {
    flex: 1;
    border-style: solid;
    background-color: #C8A2DB;
    width: auto;
    margin-top: 5rem;
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 1.6rem;
    box-shadow: 0 0 5px gray;
}