body {
    background-color: #C8A2DB;
    font-family: Verdana, sans-serif;
}

.sreloj {
    display: flex;
}

#divdetodo {
    flex: 1;
    width: 300px;
    height: 300px;
    text-align: center;
    margin: 40px;
    padding: 20px;
    background-color: #4B285C;
    border-radius: 15%;
    box-shadow: 0 0 40px gray;
}

#boton {
    color: #4B285C;
    font-weight: bold;
    margin-top: 40px;
    background-color: #C8A2DB;
    flex: 1;
    height: 50px;
    font-size: 15px;
    border-radius: 10%;
}

#divhora {
    flex: 1;
    border-style: solid;
    background-color: #C8A2DB;
    min-width: 275px;
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 30px;
    box-shadow: 0 0 10px gray;
}